*.aux
*.log
*.out
*.pdf
*.gz
*.rds
*.Rhistory
*.toc
*.html
output/
images/
support_points/
figure-html/
*.bbl
*.blg
.Rproj.user
emulator_metrics_illustration_files/
gp_emulator_error_metrics_files/
*.svg
*.git

# Ignore everything in renv folder except for select files. 
renv/*
!renv/activate.R
!renv/settings.dcf

